@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="light"] {
    --body-text: theme("colors.gray.800");
    --body-bg: theme("colors.white");
    --border-color: theme("colors.gray.200");
    --inverse-text: theme("colors.white");
    --subtle-bg: theme("colors.gray.100");
    --subtle-text: theme("colors.gray.600");
    --placeholder-color: theme("colors.gray.500");

    --accent: theme("colors.teal.500");
    --accent-emphasis: theme("colors.teal.700");
    --accent-static: theme("colors.teal.500");
    --accent-muted: theme("colors.teal.300");
    --accent-subtle: theme("colors.teal.50");
    --fg: theme("colors.gray.700");
    --fg-emphasis: theme("colors.gray.900");
    --fg-muted: theme("colors.gray.600");
    --fg-subtle: theme("colors.gray.500");
    --fg-on-accent: theme("colors.white");
  }

  :root[data-theme="dark"] {
    --body-text: theme("colors.whiteAlpha.900");
    --body-bg: theme("colors.gray.800");
    --border-color: theme("colors.whiteAlpha.300");
    --inverse-text: theme("colors.gray.800");
    --subtle-bg: theme("colors.gray.700");
    --subtle-text: theme("colors.gray.400");
    --placeholder-color: theme("colors.whiteAlpha.400");

    --accent: theme("colors.teal.300");
    --accent-emphasis: theme("colors.teal.200");
    --accent-muted: theme("colors.teal.200");
    --accent-subtle: theme("colors.teal.800");
    --fg: theme("colors.gray.100");
    --fg-emphasis: theme("colors.gray.200");
    --fg-muted: theme("colors.gray.400");
    --fg-subtle: theme("colors.gray.300");
    --fg-on-accent: inherit;
  }

  :where(*, *::before, *::after) {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    word-wrap: break-word;
  }

  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre) {
    margin: 0;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
  }

  *,
  *::before,
  *::after {
    @apply border-[color:var(--border-color)];
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply touch-manipulation antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply relative m-0 min-h-full bg-[color:var(--body-bg)] font-body text-[var(--fg)] leading-base;
    transition-property: background-color;
    transition-duration: theme("transitionDuration.normal");
    font-feature-settings: "kern";
  }
}
